<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpsshop">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 위치 권한 선언 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 위치 권한 선언 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mainlogo"
        android:label="오늘뭐먹지?"
        android:roundIcon="@mipmap/ic_mainlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GpsShop">
        <activity
            android:name=".bolibab"
            android:exported="true" />
        <activity
            android:name=".sundaegug"
            android:exported="true" />
        <activity
            android:name=".gobkkaebi"
            android:exported="true" />
        <activity
            android:name=".nongbubossam"
            android:exported="true" />
        <activity
            android:name=".sunsaltteogbokk"
            android:exported="true" />
        <activity
            android:name=".modulangbunsig"
            android:exported="true" />
        <activity
            android:name=".seowon"
            android:exported="true" />
        <activity
            android:name=".pasta1970"
            android:exported="true" />
        <activity
            android:name=".hotdog"
            android:exported="true" />
        <activity
            android:name=".tonkasu"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCq6APkzEOKxtoFulvrD4BWOEd53_UfHdE" />

        <activity android:name=".MainActivity" />
    </application>

</manifest>